<h1>Coches</h1>
<p>
    Vamos a realizar una practica de formularios a traves de un formulario sobre coches.
</p>
<form #formCoche="ngForm" (ngSubmit)="onSubmit(); formCoche.form.reset;">
    <p>
        <label>Nombre:</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre" required
        maxlength="8" minlength="5" pattern="[A-Za-z]+">
        <span *ngIf="nombre.touched && !nombre.valid">
            El nombre ingresado no es valido y debe ingresar un nombre valido.
            
        </span>
    </p>
    <p>
        <label>Caballaje:</label>
        <input type="text" name="caballaje" #caballaje="ngModel" [(ngModel)] ="coche.caballaje" 
        required pattern="[0-9]+" minlength="2" maxlength="5">
    </p>
    <p>
        <label>Color:</label>
        <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" required>
    </p>
    <input type="submit" value="guardar"[disabled]="!formCoche.form.valid">
</form>
<div>
    <h3>Listado de coches</h3>
    <ul>
        <li *ngFor=" let coche of coches">
            {{coche.nombre}} - {{coche.caballaje}} - {{coche.color}}
        </li>
    </ul>
</div>
